@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  html {
    height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  }
}
